body {
  margin: 0;
  font-family: sans-serif;
}
.navbar {
  position: relative;
  background-color: #4c5958;
  padding: 10px;
}
.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar__list-item {
  margin: 0 10px;
}
.navbar__list-item a {
  font-family: "Lato", sans-serif;
  color: white;
  transition: 0.2s ease;
  text-decoration: none;
  font-size: 18px;
}
.navbar__list-item a:hover {
  color: #ff6eb9;
}
.navbar__icon {
  display: inline-block;
  color: white;
  font-size: 25px;
}
main {
  padding: 2.5vh 10vw;
  text-align: center;
  color: #414a49;
}
#page-title {
  font-family: "Lora", serif;
  font-size: 35px;
}
#skier-image {
  width: 100%;
}
main p {
  font-family: "Lato", sans-serif;
  line-height: 30px;
  font-size: 18px;
}
@media (min-width: 800px){
  p{
    text-align: left;
    font-size: 30px;
  }
  #page-title{
    font-size: 50px;
    display: inline-block;
  }
  #skier-image{
    width: 40%;
    padding: 30px;
    height: auto;
    float: left;
  }
  .navbar__icon:hover {
    transform: rotate(45deg);
  }
  .navbar__icon{
    transition: 2s ease;
  }
  #hero {
    background-image: url(assets/mountain1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 10%;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 800px) and (prefers-reduced-motion: reduce) {
  #hero {
    background-image: url(assets/mountain1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: relative;
    margin: 0;
    padding: 10%;
    width: 100%;
    height: auto;
  }
  .navbar__icon:hover {
    transform: rotate(0deg);
  }
}